.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 88.5vh;
  max-width: 140rem;
  margin: 0 auto;
}

.formStyles {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 3rem;
}
.contenedorUl {
  display: flex;
  grid-gap: 3rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 3rem 1.5rem;
  justify-content: center;
}
.contenedorUl h3 {
  padding: 1.5rem 0;
}

.contenedorUl > li {
  max-width: 31rem;
  min-width: 31rem;
}

.download {
  background: #f5f5f5;
  color: #4a4a4a;
  padding: 10px 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

@media (max-width: 768px) {
  .formStyles {
    grid-template-columns: 100%;
  }
}
